<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- Head -->
<head th:replace="fragments/head::head"></head>

<body>

<!-- Navigation -->
<nav th:replace="fragments/navi::navi"></nav>

<!-- Page Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-9">
            <div class="panel-heading">
                <h1 class="panel-title">Dodaj awatar</h1>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-5">
                        <form action="http:\\localhost" method="post" enctype="multipart/form-data"
                              th:action="@{'/users/' + ${user.id} + '/user/image'}">
                            <label class="control-label">Wybierz obraz</label>
                            <input id="imagefile" name="imagefile" type="file" class="file">
                            <button type="submit" class="btn btn-primary">Dodaj</button>
                        </form>
                        <a type="submit" class="btn btn-primary mt-2 float-center"
                           th:href="@{'/users/' + ${user.id} + '/user'}">Anuluj</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.col-lg-9 -->

    </div>

</div>
<!-- /.container -->

<!-- Footer -->
<footer th:replace="fragments/footer::footer"></footer>

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
