<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- Head -->
<head th:replace="fragments/head::head"></head>

<body>

<!-- Navigation -->
<nav th:replace="fragments/navi::navi"></nav>

<!-- Page Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-9">

            <div>
                <h2 th:if="${authentication != null}">Edytuj profil</h2>
                <h2 th:if="${authentication == null}">Rejestracja użytkownika</h2>
                <form th:object="${userDto}" th:action="@{/register}" method="post">
                    <input type="hidden" th:field="*{id}"/>
                    <div class="form-group">
                        <label><b>Adres email:</b></label>
                        <input type="email" placeholder="email" class="form-control" maxlength="50" th:field="*{email}"
                               th:value="${userDto.email}"></br>

                        <label><b>Hasło:</b></label>
                        <input type="password" placeholder="hasło" class="form-control" maxlength="50"
                               th:field="*{password}"
                               th:value="${userDto.password}" required></br>

                        <label><b>Nazwa użytkownika:</b></label >
                        <input type="text" placeholder="nazwa użytkownika" class="form-control" maxlength="50"
                               th:field="*{nickname}"
                               th:value="${userDto.nickname}" ></br>

                        <label th:if="${authentication != null}"><b>Numer telefonu:</b></label>
                        <input th:if="${authentication != null}" type="text" placeholder="numer telefonu" class="form-control" maxlength="50"
                               th:field="*{phone}" th:value="${userDto.phone}"></br>

                        <label th:if="${authentication != null}"><b>Imie:</b></label>
                        <input th:if="${authentication != null}" type="text" placeholder="imię" class="form-control" maxlength="50"
                               th:field="*{firstname}" th:value="${userDto.firstname}"></br>

                        <label th:if="${authentication != null}"><b>Nazwisko:</b></label>
                        <input th:if="${authentication != null}" type="text" placeholder="nazwisko" class="form-control" maxlength="50"
                               th:field="*{lastname}" th:value="${userDto.lastname}"></br>

                        <label th:if="${authentication != null}"><b>Adres:</b></label>
                        <input th:if="${authentication != null}" type="text" placeholder="adres" class="form-control" maxlength="50"
                               th:field="*{address}" th:value="${userDto.address}"></br>

                        <input type="submit" value="Zapisz" class="btn btn-primary mt-2 float-center">
                        <a th:if="${authentication != null}" type="submit" class="btn btn-primary mt-2 float-center" th:href="@{'/users/' + ${user.id} + '/user'}">Anuluj</a>
                        <a th:if="${authentication == null}" type="submit" class="btn btn-primary mt-2 float-center" th:href="@{/adverts}">Anuluj</a>

                    </div>
                </form>
            </div>

        </div>
        <!-- /.col-lg-9 -->

    </div>

</div>
<!-- /.container -->

<!-- Footer -->
<footer th:replace="fragments/footer::footer"></footer>

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
