<!DOCTYPE html>
<html lang="en" xmlns:th=”http://www.thymeleaf.org”>

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" th:fragment="navi">
    <div class="container">
        <a class="navbar-brand" href="/">Planszówkowo</a>
        <a th:if="${authentication == null}" class="navbar-brand" href="#"> niezalogowano </a>
        <a th:if="${authentication != null}" th:text="'Witaj ' + ${user.nickname}" class="navbar-brand" href="#"> zalogowano </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon">
<!--                <span class="fas fa-users-cog" style="color: white"></span>-->

                            </span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Strona Główna</a>
                </li>
                <li class="nav-item" th:if="${authentication == null}">
                    <a class="nav-link" href="/register">Rejestracja</a>
                </li>
                <li class="nav-item" th:if="${authentication == null}">
                    <a class="nav-link" href="/login">Zaloguj</a>
                </li>
                <li class="nav-item" th:if="${isAdmin && authentication != null}">
                    <a class="nav-link" href="/users">Użytkownicy</a>
                </li>
                <li class="nav-item" th:if="${isUser && authentication != null}">
                    <a class="nav-link"  th:href="@{'/users/' + ${user.id} + '/user'}">Edytuj dane użytkownika</a>
                </li>
                <li class="nav-item" th:if="${isUser && authentication != null}">
                    <a class="nav-link" href="/adverts/advert/new">Nowe ogłoszenie</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/adverts">Ogłoszenia</a>
                </li>
                <li class="nav-item" th:if="${authentication != null}">
                    <a class="nav-link" th:href="@{/logout}">Wyloguj</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/about}">O mnie</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
</body>
</html>