<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">

<!-- Head -->
<head th:replace="fragments/head::head"></head>

<body>

<!-- Navigation -->
<nav th:replace="fragments/navi::navi"></nav>

<!-- Page Content -->
<div class="container">

  <div class="row">

    <div class="col-lg-12">

      <h1 class="center-block">
        <b>Planszówkowo</b>
      </h1>
      <h2>
        Portal wymiany i handlu grami planszowymi oraz kolekcjonerskimi.
      </h2>
      <p><b>
        Strona poświęcona jest tematyce gier planszowych, karcianych, kolekcjonerskich, przygodowych, bitewnych,
        itd. Ma na celu zrzeszać miłośników tematyki gier oraz umożliwić wymianę produktów i usług z nią
        powiązanych.
      </b></p>

      <h3>W TYM MIEJSCU MOGĄ SIĘ ZNALEŹĆ DOWOLNE TREŚCI LUB ILUSTRACJE. MOŻLIWE BĘDZIE W PRZYSZŁOŚCI UTWORZENIE
        SEKCJI NEWSÓW LUB WYŚWIETLANIE INNYCH INFORMACJI MAJĄCYCH NA CELU POPRAWĘ JAKOŚCI SERWISU</h3>

      <p>
        Dla potrzeb testów i prezentacji aplikacji do bazy danych zostały wprowadzone konta oraz ogłoszenia
        testowe. Wykaz dostępnych użytkowników testowych:
      </p>
      <p>
        Testowe konto użytkownika: email: t-user1@user.com hasło: user <br>
        Testowe konto użytkownika: email: t-user2@user.com hasło: user <br>
        Testowe konto użytkownika: email: t-user3@user.com hasło: user <br>
        Testowe konto administratora: email: t-admin@admin.com hasło: admin <br>
      </p>


    </div>
    <!-- /.col-lg-9 -->

  </div>

</div>
<!-- /.container -->

<!-- Footer -->
<footer th:replace="fragments/footer::footer"></footer>

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>
</html>
