<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">

<!-- Head -->
<head th:replace="fragments/head::head"></head>

<body>

<!-- Navigation -->
<nav th:replace="fragments/navi::navi"></nav>

<!-- Page Content -->
<div class="container">

    <div class="row">

        <div class="col-lg-9">

            <div>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Data publikacji</th>
                        <th>Tytuł</th>
                        <th>Kategoria</th>
                        <th>Użytkownik</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="advert : ${adverts}">
                        <th th:text="${advert.publicationDate}"></th>
                        <th><a href="#" th:href="@{'/adverts/' + ${advert.id} + '/show'}"
                               th:text="${advert.title}">Title</a>
                        </th>
                        <th th:text="${advert.advertType.advertTypeName}"></th>
                        <th th:text="${advert.userDao.nickname}"></th>
                    </tr>
                    </tbody>
                </table>
<!--                <a th:if="${authentication != null}" type="submit" class="btn btn-primary mt-2 float-center" th:href="@{adverts/advert/new}">New advert</a>-->
            </div>

        </div>
        <!-- /.col-lg-9 -->

    </div>

</div>
<!-- /.container -->

<!-- Footer -->
<footer th:replace="fragments/footer::footer"></footer>

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>
</html>
