<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- Head -->
<head th:replace="fragments/head::head"></head>

<body>

<!-- Navigation -->
<nav th:replace="fragments/navi::navi"></nav>

<!-- Page Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-9">

            <div>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Publication Date</th>
                        <th th:if="${advert.title != null}">Title</th>
                        <th th:if="${advert.advertType != null}">Category</th>
                        <th th:if="${advert.offeredItem != null}">Offered Item</th>
                        <th th:if="${advert.requestedItem != null}">Requested Item</th>
                        <th th:if="${advert.price != null}">Price</th>
                        <th>User</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th th:text="${advert.publicationDate}"></th>
                        <th th:text="${advert.title}" th:if="${advert.title != null}" th:default="null">Title</th>
                        <th th:text="${advert.advertType.advertTypeName}" th:if="${advert.advertType != null}" th:default="null"></th>
                        <th th:text="${advert.offeredItem}" th:if="${advert.offeredItem != null}" th:default="null"></th>
                        <th th:text="${advert.requestedItem}" th:if="${advert.requestedItem != null}" th:default="null"></th>
                        <th th:text="${advert.price}" th:if="${advert.price != null}" th:default="null"></th>
                        <th>
                            <a href="#" th:text="${advert.userDto.nickname}" th:href="@{'/users/' + ${advert.userDto.id} + '/user'}"></a>
                        </th>

                    </tr>
                    </tbody>
                </table>
                <b><p th:text="${advert.description}"></p></b>
                <a type="submit" class="btn btn-primary mt-2 float-center"
                   th:href="@{'/adverts/' + ${advert.id} + '/update'}" th:if="${isUser && user.id == advert.userDto.id}">Update</a>
                <a type="submit" class="btn btn-primary mt-2 float-center"
                   th:href="@{'/adverts/' + ${advert.id} + '/delete'}" th:if="${isUser && user.id == advert.userDto.id}" >Delete</a>
                <a type="submit" class="btn btn-primary mt-2 float-center"
                   th:href="@{'/adverts/' + ${advert.id} + '/delete'}" th:if="${isAdmin}" >Delete</a>
                <a type="submit" class="btn btn-primary mt-2 float-center"
                   th:href="@{/adverts}" th:if="${isUser}">Go to adverts</a>
                <a type="submit" class="btn btn-primary mt-2 float-center"
                   th:href="@{'/users/' + ${advert.userDto.id} + '/user'}" th:if="${isUser && user.id == advert.userDto.id}">Go to profile</a>
            </div>

        </div>
        <!-- /.col-lg-9 -->

    </div>

</div>
<!-- /.container -->

<!-- Footer -->
<footer th:replace="fragments/footer::footer"></footer>

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
